#page-header {
    background-color: lightskyblue;
    border-radius: 10px;
    font-family:'Segoe UI';
    color: white;
    font-size: larger;
    height: 80px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 80px;
}

#full-form {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    font-family:'Segoe UI';
}

#input-form {
    margin-top: 20px;
}

.columns {
    display: flex;
}